{
  "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-css-order", "prettier-plugin-packagejson"],
  "importOrder": [
    "^react$",
    "^react-dom$",
    "^react-dom/.*$",
    "^react-router-dom$",

    "^antd$",
    "^echarts$",
    "^react-draggable$",
    "^react-countup$",
    "^@dnd-kit.*$",
    "^sic-ui$",

    "^\\.{1,}/(?!.*(config|constant|type|types|hook|util|server|style|scss|less))[^.]+$",

    "^lodash$",
    "^dayjs$",
    "^classnames$",
    "^sic-util$",
    "^@/utils$",

    "^./config$",
    "^\\.{1,2}/.*/config$",
    "^\\.{1,2}/type",

    "^@/assets$",
    "^.+\\.(png|jpe?g|svg|gif|ico)$",

    "<THIRD_PARTY_MODULES>",

    "^@/style$",
    "^.+\\.(css|scss|less|style)$"
  ],
  "importOrderSeparation": false,
  "importOrderSortSpecifiers": true,
  "cssDeclarationSorterOrder": "concentric-css",
  "semi": true,
  "singleQuote": true,
  "bracketSameLine": false,
  "trailingComma": "es5",
  "printWidth": 140,
  "tabWidth": 2,
  "endOfLine": "auto",
  "arrowParens": "always",
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "proseWrap": "preserve",
  "quoteProps": "as-needed",
  "requirePragma": false,
  "insertPragma": false,
  "htmlWhitespaceSensitivity": "css",
  "overrides": [
    {
      "files": ["*.md", "*.mdx"],
      "options": {
        "parser": "markdown",
        "singleQuote": true,
        "printWidth": 140,
        "semi": true
      }
    }
  ]
}
