.inputUI-range {
  display: flex;
  align-items: center;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  width: 100%;
  .ant-input-number-outlined {
    border: none;
  }
  .ant-input-number-input {
    text-align: center;
  }
  &-input1,
  &-input2 {
    width: calc((100% - 20px) / 2);
  }
  &-to {
    width: 20px;
    height: 20px;
    color: #d9d9d9;
    line-height: 20px;
    text-align: center;
  }
}
