.sic-select {
  display: flex;
  &-selectui {
    width: 200px;
    font-family: 'LingCaiTiBold';
  }
  &-copy {
    margin-left: 4px;
    display: inline-block;
    line-height: 30px;
    width: 20px;
  }
}
