.sic-select {
  display: flex;
  align-items: center;
  width: 100%;
  &-selectui {
    flex: 1;
  }
  &-copy {
    display: inline-block;
    width: 20px;
    line-height: 30px;
    margin-left: 4px;
  }
}
