.UploadFileUI {
  &-content {
    display: flex;
    align-items: center;
    font-family: 'LingCaiTiBold';
    padding-left: 16px;
    .icon {
      width: 48px;
      font-family: 'LingCaiTiBold';
      margin-right: 8px;
    }
    &-right {
      display: flex;
      flex-direction: column;
      text-align: left;
      .describe {
        color: #7e7e7e;
        font-size: 12px;
        margin-top: 6px;
      }
    }
  }
}
