.sic-tableui-button {
  display: inline-block;
  height: 28px;
  font-size: 12px;
  line-height: 28px;
  font-family: var(--fontFamily);
  font-weight: bold;
  box-sizing: border-box;
  padding: 0 8px;
  border-radius: 4px;
  border: 1px solid #e3e3e3;
  white-space: nowrap;
  cursor: pointer;
  .sic-tableui-button-icon {
    margin-left: 4px;
    display: inline-block;
  }
}
.sic-tableui-button:hover {
  border-color: var(--themeColor);
  color: var(--themeColor);
}
.sic-tableui-button-danger {
  color: var(--red);
}
.sic-tableui-button-danger:hover {
  border-color: var(--red);
  color: var(--red);
}
.sic-tableui-button-disable {
  color: #999;
}
.sic-tableui-button-disable:hover {
  border: 1px solid #e3e3e3;
  color: #999;
  cursor: no-drop;
}
