.sic-tableui-setting {
  position: relative;
  &-icon {
    width: 24px;
    height: 24px;
    border: 1px solid var(--textcolor);
    border-radius: 4px;
    text-align: center;
    line-height: 24px;
    cursor: pointer;
  }
  &-modify {
    position: absolute;
    top: 30px;
    right: 0;
    z-index: 99999;
    width: 200px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: -2px 4px 20px 0px rgba(51, 51, 51, 0.1);
    .modify-title {
      height: 44px;
      background-color: #f9f9f9;
      font-size: 14px;
      text-align: center;
      line-height: 44px;
      font-family: 'LingCaiTiBold';
    }
    .modify-footer {
      display: flex;
      justify-content: center;
      height: 32px;
      margin: 17px;
      margin-bottom: 20px;
    }
    .ant-table {
      border-radius: 0;
    }
    .ant-table-tbody > tr > td {
      padding: 8px 0;
      .ant-checkbox-wrapper {
        align-items: end;
      }
    }
    .ant-table-tbody tr:nth-child(2n) {
      background-color: #f9f9f9;
    }
  }
}
