.sicImageUI {
  display: flex;
  align-items: center;
  justify-content: center;
  .ant-image {
    width: 100%;
    height: 100%;
  }
  .ant-image-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &-mask {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    &-left,
    &-right {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .sicImageUI-mask-name {
      margin-left: 2px;
    }
    .sicImageUI-mask-delete {
      margin-left: 2px;
      color: var(--red);
    }
  }

  &-toolbar {
    position: fixed;
    bottom: 32px;
    left: 50%;
    padding: 0px 24px;
    color: #fff;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 100px;
    transform: translateX(-50%);
    .anticon {
      padding: 12px;
      cursor: pointer;
    }
    .anticon[disabled] {
      cursor: not-allowed;
      opacity: 0.3;
    }
    .anticon:hover {
      opacity: 0.3;
    }
  }
}
