.filterUI {
  &-content {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    border-radius: 8px;
    background-color: #fff;
    width: 100%;
    .ant-form-item {
      margin-right: 33px;
      margin-bottom: 12px;
    }
    .ant-form-item-label > label {
      justify-content: right;
      width: 70px;
      color: #666;
      font-size: 13px;
    }
    .ant-form-item-control {
      width: 250px;
    }
    .searchUI {
      width: 320px;
    }
    .dateUI {
      width: 100%;
    }
    &-form {
      display: flex;
      flex-wrap: wrap;
      width: 1060px;
    }
    &-moreForm {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
    }
    &-operate {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 12px;
      width: 80px;
      .operate-more {
        display: flex;
        align-items: center;
        cursor: pointer;
        width: 100%;
        height: 32px;
        color: var(--themeColor);
        font-size: 14px;
      }
    }
  }
  &-filter {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    margin-bottom: 12px;
    background-color: var(--themeColor2);
    padding: 10px 12px;
    width: 100%;
    &-content {
      display: flex;
      flex: 1;
      .ant-space {
        flex-wrap: wrap;
      }
      &-item {
        cursor: pointer;
        border: 1px solid #e3e3e3;
        border-radius: 4px;
        background-color: #f5f5f5;
        padding: 0 10px;
        line-height: 32px;
      }
    }
  }
}
