.sicFilterUI {
  &-content {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 8px;
    .ant-form-item {
      margin-bottom: 10px;
      margin-right: 10px;
    }
    .ant-form-item-label > label {
      color: #666;
      font-size: 13px;
      width: 70px;
      justify-content: right;
    }
    .ant-form-item-control {
      width: 334px;

      .sic-dateui-select {
        width: 90px;
      }
    }
    .sic-searchui {
      width: 404px;
    }
    &-form {
      width: 1242px;
      display: flex;
      flex-wrap: wrap;
    }
    &-moreForm {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
    }
    &-operate {
      width: 80px;
      padding-bottom: 12px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      .operate-more {
        width: 100%;
        height: 32px;
        font-size: 14px;
        color: var(--textcolor);
        display: flex;
        align-items: center;
        cursor: pointer;
      }
    }
  }
  &-filter {
    box-sizing: border-box;
    padding: 10px 12px;
    margin-bottom: 12px;
    width: 100%;
    background-color: var(--textcolor2);
    display: flex;
    align-items: center;
    &-content {
      flex: 1;
      display: flex;
      .ant-space {
        flex-wrap: wrap;
      }
      &-item {
        padding: 0 10px;
        line-height: 32px;
        background-color: #f5f5f5;
        border: 1px solid #e3e3e3;
        border-radius: 4px;
        cursor: pointer;
      }
    }
  }
}
