.sic-tableui-multiLine {
  width: 100%;
  .ant-table-tbody > tr > td {
    padding: 0;
  }
  &-item {
    box-sizing: border-box;
    width: 100%;
    min-height: 35px;
    border-bottom: 1px solid #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    &-value {
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &-item:last-child {
    border-bottom: none;
  }
}
