.backUI {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 12px;
  width: 100%;
  height: 22px;
  font-weight: bold;
  font-size: 16px;
  line-height: normal;
  &-button {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    color: var(--themeColor);
  }
  &-text {
    display: flex;
    align-items: center;
    gap: 4px;
    &-before {
      color: #999;
    }
  }
}
