.sic-buttonui {
  border-radius: 4px;
  box-shadow: none;
  &-border {
    color: var(--textcolor);
    border-color: var(--textcolor);
  }
  &-delete:hover {
    color: var(--red) !important;
    border-color: var(--red) !important;
  }
  &-icon {
    margin-left: 4px;
  }
}
