.sic-buttonui {
  font-size: 14px;
  line-height: normal;
  font-weight: 500;
  border-radius: 4px;
  box-shadow: none;
  &-icon {
    margin-left: 4px;
  }
}

.ant-btn-border {
  color: var(--textcolor);
  border-color: var(--textcolor);
}
.ant-btn-default.ant-btn-dangerous {
  color: var(--textBlack);
  border-color: #d9d9d9;
}

.ant-btn-border.ant-btn-dangerous {
  color: var(--red);
  border-color: var(--red);
}

.ant-btn-border:disabled {
  cursor: not-allowed;
  border-color: #d9d9d9;
  color: rgba(0, 0, 0, 0.25);
  background: rgba(0, 0, 0, 0.04);
  box-shadow: none;
}
