.sic-buttonui {
  border-radius: 4px;
  box-shadow: none;
  &-icon {
    margin-left: 4px;
  }
}
.ant-btn-border {
  color: var(--textcolor);
  border-color: var(--textcolor);
}
.ant-btn-default.ant-btn-dangerous {
  color: var(--textBlack);
  border-color: #d9d9d9;
}

.ant-btn-border.ant-btn-dangerous {
  color: var(--red);
  border-color: var(--red);
}
