.sic-anchorui {
  &-item {
    box-sizing: border-box;
    width: 125px;
    height: 44px;
    line-height: 44px;
    padding-left: 12px;
    cursor: pointer;
    background-color: #f5f5f5;
    color: #666;
    &-select {
      background-color: rgba(46, 100, 250, 0.1);
      color: #2e64fa;
    }
  }
}
