.dictionary {
  display: flex;
  flex-wrap: wrap;
  &-item {
    height: 100px;
    width: 80px;
    display: flex;
    flex-direction: column;
    border: 1px solid #e3e3e3;
    font-size: 12px;
    margin-bottom: 10px;
    cursor: pointer;
    &-icon {
      height: 80px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &-name {
      height: 30px;
      line-height: 30px;
      text-align: center;
      border-top: 1px solid #e3e3e3;
      overflow: hidden;
    }
  }
}
