.sic-cellui {
  box-sizing: border-box;
  padding: 8px 12px;
  width: 100%;
  min-height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  &-text {
    display: -webkit-box;
    overflow: hidden;
    word-break: break-word;
    word-wrap: break-word;
    -webkit-line-clamp: var(--cellLine);
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
.sic-cellui-tooltipContent {
  overflow: auto;
  max-height: 300px;
  &-icon {
    line-height: 22px;
    margin-right: 8px;
    cursor: pointer;
  }
}
