.sic-tagTitleui {
  display: inline-flex;
  align-items: center;
  font-size: 12px;
  font-family: 'LingCaiTi';
  &-title {
    box-sizing: border-box;
    padding: 4px;
    color: #fff;
    border-radius: 4px 0 0 4px;
  }

  &-content {
    box-sizing: border-box;
    padding: 4px;
    border-radius: 0 4px 4px 0;
  }
}

.sic-tagui {
  box-sizing: border-box;
  padding: 4px 8px;
  font-size: 12px;
  font-family: 'LingCaiTi';
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  .i-icon {
    margin-left: 2px;
  }
}
