.sic-tagui {
  width: auto;
  height: 28px;
  font-size: 13px;
  line-height: 28px;
  text-align: center;
  white-space: nowrap;
  box-sizing: border-box;
  border-radius: 4px;
  display: inline-block;
  padding: 0 8px;
  &-icon {
    margin-left: 2px;
    font-size: 14px;
    line-height: 28px;
    vertical-align: middle;
  }
}
