.searchUI {
  width: 320px;
  font-size: 13px;
  .ant-input-search-button {
    padding: 0 8px;
  }
  .ant-input-group-addon {
    .ant-btn-variant-solid {
      box-shadow: none;
      border: 1px solid #d9d9d9;
      background-color: #fff;
      color: var(--themeColor);
    }
    .ant-btn-variant-solid:hover {
      border: 1px solid var(--themeColor);
      background-color: #fff;
      color: var(--themeColor);
    }
  }
}
