/** 配置颜色 */
:root {
  --themeColor: #feb71d;
  --themeColor0: #ffffff;
  --themeColor0_5: #fffbf4;
  --themeColor1: #fff8e8;
  --themeColor1_5: #fff4dd;
  --themeColor2: #fff1d2;
  --themeColor2_5: #ffedc7;
  --themeColor3: #ffe9bb;
  --themeColor3_5: #ffe6b0;
  --themeColor4: #ffe2a5;
  --themeColor4_5: #ffdf99;
  --themeColor5: #ffdb8e;
  --themeColor5_5: #fed783;
  --themeColor6: #fed477;
  --themeColor6_5: #fed06c;
  --themeColor7: #fecd61;
  --themeColor7_5: #fec956;
  --themeColor8: #fec54a;
  --themeColor8_5: #fec23f;
  --themeColor9: #febe34;
  --themeColor9_5: #febb28;
}
