.sic-describeui {
  font-size: 14px;
  border-top: 1px solid #f0f0f0;

  &-line {
    display: flex;
    border: 1px solid #f0f0f0;
    border-top: none;
    border-left: none;
  }
  &-elemnet {
    display: flex;
    align-items: center;
    min-height: 32px;
    line-height: normal;
    flex: 1;
    &-title {
      box-sizing: border-box;
      padding: 6px 12px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #f9f9f9;
      min-width: 102px;
      height: 100%;
      border-right: 1px solid #f0f0f0;
      border-left: 1px solid #f0f0f0;
      color: #666;
    }
    &-children {
      padding-left: 10px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
