.sic-dateui {
  box-sizing: border-box;
  padding-right: 4px;
  display: inline-flex;
  align-items: center;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  .ant-picker {
    flex: 1;
  }
  .ant-picker-input > input:placeholder-shown {
    text-align: center;
  }
  .ant-picker-input > input {
    text-align: center;
  }
  .ant-picker-input input::placeholder {
    color: #999 !important;
    font-family: 'LingCaiTi' !important;
  }
  &-select {
    width: 90px;
    height: 24px;
    background-color: #f9f9f9;
  }
  .ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
    padding: 0 6px;
    .ant-select-selection-search-input {
      height: 22px;
    }
  }
  .ant-select-selector .ant-select-selection-item {
    text-align: center;
    line-height: 22px;
  }
  .ant-select .ant-select-selection-placeholder {
    color: #999;
    line-height: 22px;
    font-family: 'LingCaiTi';
  }
}
