.sic-tableui {
  .ant-table-thead > tr > th {
    padding: 0;
    color: var(--textBlack);
    font-size: 14px;
    line-height: 42px;
    text-align: center;
    background-color: #f9f9f9;
  }
  .ant-table-tbody > tr > td {
    box-sizing: border-box;
    padding: 0;
    color: var(--textBlack);
    font-size: 13px;
    font-weight: 400;
    line-height: 34px;
    font-family: 'LingCaiTi';
    text-align: center;
  }
  .ant-pagination {
    color: var(--textBlack);
    font-size: 14px;
  }
  .ant-table-pagination.ant-pagination {
    display: flex;
    justify-content: center;
    margin: 12px auto;
  }
}
.sic-tableui-mask {
  height: 100%;
  left: 0;
  opacity: 0.3;
  top: 0;
  z-index: 1;
  border-radius: 8px;
  cursor: not-allowed;
}
.sic-tableui-operate {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--textBlack);
  white-space: nowrap;
  position: relative;
}
.sic-tableui-button {
  display: inline-block;
  height: 28px;
  font-size: 12px;
  line-height: 28px;
  font-family: 'LingCaiTiBold';
  box-sizing: border-box;
  padding: 0 8px;
  border-radius: 4px;
  border: 1px solid #e3e3e3;
  white-space: nowrap;
  cursor: pointer;
  .sic-tableui-button-icon {
    margin-left: 4px;
    display: inline-block;
  }
}
.sic-tableui-button:hover {
  border-color: var(--textcolor);
  color: var(--textcolor);
}
.sic-tableui-button-danger {
  color: var(--red);
}
.sic-tableui-button-danger:hover {
  border-color: var(--red);
  color: var(--red);
}
.sic-tableui-button-disable {
  color: #999;
}
.sic-tableui-button-disable:hover {
  border: 1px solid #e3e3e3;
  color: #999;
  cursor: no-drop;
}

.sic-tableui-multiLine {
  .ant-table-tbody > tr > td {
    padding: 0;
  }
  width: 100%;
  &-item {
    box-sizing: border-box;
    width: 100%;
    min-height: 35px;
    border-bottom: 1px solid #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    &-value {
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &-item:last-child {
    border-bottom: none;
  }
}
