.modalUI {
  .ant-modal-content {
    border-radius: 0;
    padding: 12px 20px;
    .ant-modal-close {
      inset-inline-end: 20px;
      width: 20px;
      height: 20px;
    }
    .ant-modal-header {
      margin-bottom: 12px;
    }
    .ant-modal-footer {
      margin-top: 12px;
    }
  }
  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e3e3e3;
    padding-bottom: 12px;
    font-weight: bold;
    line-height: 20px;
    &-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      background-color: #d9d9d9;
      width: 20px;
      height: 20px;
      color: var(--textBlack);
      font-size: 14px;
    }
    &-icon.primary {
      background-color: var(--themeColor2);
      color: var(--themeColor);
    }
    &-icon.danger {
      background-color: rgba(255, 120, 117, 0.2);
      color: var(--red);
    }
  }
}
