.sic-modalui {
  color: var(--textBlack);
  font-size: 14px;
  &-title {
    font-family: 'LingCaiTiBold';
    line-height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    border-bottom: 1px solid #f5f5f5;
    &-icon {
      color: var(--textcolor);
      height: 24px;
      width: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
    }
  }
  .ant-modal-header {
    margin-bottom: 10;
  }
  .ant-modal-content {
    padding: 0;
  }
  .ant-modal-body {
    font-family: 'LingCaiTi';
    padding: 12px 20px;
  }
  .ant-modal-footer {
    padding: 0 20px 12px 20px;
    margin-top: 0;
  }
}
