:root {
  --textBlack: #333;
  --red: #ff4d4f;
  --themeColor: #2e64fa;
  --themeColor0: #ffffff;
  --themeColor0_5: #f5f7ff;
  --themeColor1: #eaf0ff;
  --themeColor1_5: #e0e8fe;
  --themeColor2: #d5e0fe;
  --themeColor2_5: #cbd8fe;
  --themeColor3: #c0d1fe;
  --themeColor3_5: #b6c9fd;
  --themeColor4: #abc1fd;
  --themeColor4_5: #a1b9fd;
  --themeColor5: #97b2fd;
  --themeColor5_5: #8caafc;
  --themeColor6: #82a2fc;
  --themeColor6_5: #779afc;
  --themeColor7: #6d93fc;
  --themeColor7_5: #628bfb;
  --themeColor8: #5883fb;
  --themeColor8_5: #4d7bfb;
  --themeColor9: #4374fb;
  --themeColor9_5: #386cfa;
  --fontFamily:
    -apple-system, BlinkMacSystemFont, LingCaiTi, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}
